:root {
    --secondary-background: #F5F4FA;
    --footer-background: #2F303A;
    --text-color: #757575;
    --title-link-color: #212121;
    --hover-color: #2196F3;
    --footer-color: rgba(255, 255, 255, 0.6);
    --hero-font-family: 'Raleway', sans-serif;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-link-color);
    letter-spacing: 0.03em;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.text {
    color: var(--text-color);
    letter-spacing: 0.03em;
    margin: 0px;
}
.hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    /* outline: 2px solid red; */
    margin: 0px auto;
}

/* header */
.header {
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}
.header-container {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
}
 .logo {
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.accent {
    color: #000000;
}
.header-nav {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}
.header-nav-list {
}

.header-nav .link {
    color: var(--title-link-color);
    font-weight: 500;
    line-height: 1.1429;
    text-decoration: none;
    padding: 32px 0px;
    display: block;
    fill: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-phone-envelope {
    margin-right: 10px;
    fill: currentColor;
}
.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--hover-color);
}
.header-nav .link.current {
    position: relative;
    display: block;
    color: #2196F3;
    padding: 32px 0px;
    /* outline: 2px solid orange; */
}

.header-nav .link.current::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background-color: #2196F3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.header-list .link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.1429;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list .link:hover,
.header-list .link:focus {
    color: var(--hover-color);
}
/* --------------Студія------------- */
/* hero */
.hero {
    max-width: 1600px;
    background-image: linear-gradient(
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)
     ),
     url(../imges/hero.jpg);
    background-color: var(--footer-background);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}
.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin: 0px auto 30px;
}
.hero-bn {
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    border: none;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    min-width: 216px;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-bn:hover,
.hero-bn:focus {
    background-color: #188CE8;
}

/* features */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-title {
    line-height: 1.1429;
    text-transform: uppercase;
}

.feature-list {
    display: flex;
    gap: 30px;
}
.feature-item {
    
}
.item-box  {
    content: "";
    display: flex;
    height: 120px;
    background-color: var(--secondary-background);
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.icon-feature {
    fill: #212121;
}

.feature-list .feature-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.feature-list .text {
    line-height: 1.7143;
    min-width: 270px;
}
/* work */
.work {
    padding-bottom: 94px;
}

.work-title {
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
    margin-bottom: 50px;
}
.work-pic {
    display: flex;
    gap: 30px;
}
.work-item {
    width: calc((100% - 60px) / 3);
    position: relative;
}

.work-item.text {
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 70px;
    bottom: 0;
    left: 0;
    text-transform: uppercase;

    font-weight: 700; 
    font-size: 14px;
    line-height: 1.1429;

    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

/* team */
.team {
    background-color: var(--secondary-background);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title {
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;

    margin-bottom: 50px;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-item {
    width: calc((100% - 90px) / 4);
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team-item > img {
    max-width: 100%;
    height: auto;
}
.team-meta {
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 10px;
}
.team-list .text {
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 16px;   
}
.team-soc-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.team-icon-item {
    width: 44px;
    height: 44px;
}
.team-soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.icon-team {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #2196F3;
}
.team-soc-link:hover .icon-team,
.team-soc-link:focus .icon-team{
    fill: #FFFFFF;
}
/* clients */
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title {
    font-size: 36px; 
    line-height: 1.1666;
    text-align: center;
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    gap: 30px;
}
.clients-link {
    display: flex;
    content: "";
    width: 170px;
    height: 92px;
    background-color: #FFFFFF;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
    border-color: #2196F3;
}
.clients-link:hover .icon-clients,
.clients-link:focus .icon-clients {
    fill: #2196F3;
}
/* footer */
.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}
.container.footer-flex {
    display: flex;
    align-items: baseline;
}
.footer-icon {
    margin-left: 70px;
}
.footer-logo {
    display: block;
    margin-bottom: 20px;
}
.footer-accent {
    color: #FFFFFF;
}
.footer-list {
    letter-spacing: 0.03em;
    font-style: normal;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-list .map {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.7143;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list .map:hover,
.footer-list .map:focus {
    color: var(--hover-color);
}
.footer-list .link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.7143;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--hover-color);
}
.footer-text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}
.icon-footer-list {
    display: flex;
    gap: 10px;
}
.icon-soc-item {
    width: 44px;
    height: 44px;
}
.icon-soc-footer {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer {
    fill: #FFFFFF;
}
.icon-soc-footer:hover,
.icon-soc-footer:focus {
    background-color: #2196F3;
}

/* --------------Портфоліо------------- */
.project {
    padding-top: 94px;
    padding-bottom: 94px;
}

.project-items {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.project-bn {
    color: #212121;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 25px;
}
.project-bn:hover,
.project-bn:focus {
    background-color: var(--hover-color);
    color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project-item {
    width: calc((100% - 60px) / 3);
}


.project-link {
    text-decoration: none;
}
.project-link:hover,
.project-link:focus {
    display: block;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item > img {
    max-width: 100%;
    height: auto;
}
.project-list .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.project-list .text {
    font-size: 16px;
    line-height: 1.875;
}
.project-meta {
    border: 1px solid #ECECEC;
    border-top: none;
    padding: 20px 24px;
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-thumb .text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 18px;
    line-height: 1.5555;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .project-thumb .text {
    transform: translateY(0);
}



.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
}

.modal-bn {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
